<footer>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark">
    <div class="container">
      <span class="text-muted">© Copyright 2018 Visitor Parking unless otherwise noted.</span>
    </div>
  </nav>
</footer>